twitter-server/node_modules
twitter-server/pnpm-lock.yaml
twitter-server/build/
twitter-server/.env

twitter-client/node_modules
twitter-client/pnpm-lock.yaml
twitter-client/.next/
twitter-client/.env

twitter-clone-server.pem